canvas {
  border-radius: 12px;
}

.play-button {
  position: absolute;
  left: 50%;
  bottom: -18%;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 54px;
  border-color: transparent transparent transparent #ffffff;
  cursor: pointer;
  border-style: solid;
  border-width: 26px 0 26px 40px;
  animation: fadeIn 3s 2.2s backwards;

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
}
