.map-container {
  position: absolute;
  z-index: 10;
  margin-left: 5%;
  margin-top: 6%;
  animation: fadeIn 3s 2.2s backwards;
  canvas {
    position: absolute;
    border-radius: 6px;
  }
}

.controls {
  position: absolute;
  right: 10%;
  margin-right: 4%;
  margin-top: 6%;

  .play-button {
    left: 40%;
    top: 0;
    background: transparent;
    box-sizing: border-box;
    border: 0;
    width: 0;
    height: 34px;
    border-color: transparent transparent transparent #ffffff;
    cursor: pointer;
    border-style: solid;
    border-width: 26px 0 26px 40px;
    animation: fadeIn 3s 2.2s backwards;

    &:hover {
      border-color: transparent transparent transparent #cc1609;
    }
  }

  .clear-walls-button {
    margin-top: 10%;
    z-index: 20;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: none;
    color: white;
    background: none;
    animation: fadeIn 3s 1.4s backwards;

    &:hover {
      color: #cc1609;
    }
  }

  .clear-map-button {
    margin-top: 40%;
    bottom: 10%;
    z-index: 20;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: none;
    color: white;
    background: none;
    animation: fadeIn 3s 1.4s backwards;

    &:hover {
      color: #cc1609;
    }
  }

  .generate-maze-button {
    margin-top: 10%;
    padding-left: 2%;
    bottom: 10%;
    z-index: 20;
    cursor: pointer;
    width: 220px;
    height: 50px;
    font-size: 20px;
    border: none;
    color: white;
    background: none;
    animation: fadeIn 3s 1.4s backwards;

    &:hover {
      color: #cc1609;
    }
  }
}

.instructions-container {
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 68%;
  font-size: 18px;
  animation: fadeIn 1s 3s backwards;
}
