.dropdown-container {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */

    cursor: pointer;
    font-family: "Azonix";
    outline: none;
    background-color: transparent;
    border: none;
    background: none;
    align-self: center;
    width: 100%;
    color: #fff;
    font-size: 20px;
    &:hover {
      color: #cc1609;
    }
  }
}
