.cload-container {
  z-index: 9;
  size: 100%;
  cursor: default;
  margin-top: 10px;
  position: relative;
  right: 0%;
  color: #fff;
  font-weight: 800;
  position: absolute;
  font-size: 30px;
  font-family: "Azonix";
  opacity: 0%;
  animation: fadeIn 1s ease-in-out 3s;
  animation-fill-mode: forwards;
}

.list-container {
  display: none;
}

@media screen and (max-width: 1200px) {
  .cload-container {
    display: none;
  }
}
